@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 83% 98%;
    --foreground: 0 0% 35%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 35%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 35%;

    --primary: 0 0% 35%;
    --primary-foreground: 48 83% 98%;

    --secondary: 48 25% 95%;
    --secondary-foreground: 0 0% 35%;

    --muted: 48 25% 95%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 65%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 48 25% 90%;
    --input: 48 25% 90%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
